body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #789;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

.video-container, .photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

video, img {
  max-width: auto;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

footer {
  background-color: #789;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
